@import "tailwindcss";

@theme {
  --color-primary: #6366F1;
  --color-primary-dark: #4F46E5;
  --color-secondary: #0EA5E9;
  --color-accent: #F59E0B;
  --color-success: #10B981;
  --color-danger: #EF4444;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
